body{height:100%;
  width:100%;
  box-sizing:border-box;
  background:url('https://media.istockphoto.com/id/1177589614/photo/water-droplets-on-black-background.jpg?s=612x612&w=0&k=20&c=TEJEkHEOzWvtHjur9f-EA5lByeYJTND6xRyF_VZMUIU=');
  background-size:250px;
 
  } 


  
.container{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
  /* background:url('https://media.istockphoto.com/id/1177589614/photo/water-droplets-on-black-background.jpg?s=612x612&w=0&k=20&c=TEJEkHEOzWvtHjur9f-EA5lByeYJTND6xRyF_VZMUIU=');
  background-size:250px */
}
.overlay {
  position:absolute;
  top:2rem;
 
  width: 90%;
  height: 90vh;
  
  
  background-color: rgba(0, 0, 0, 0.6); 
}



 

@media  (max-width: 900px) {
  
body{height:100%;
  width:100%;
  box-sizing:border-box;
  background:url('https://media.istockphoto.com/id/1177589614/photo/water-droplets-on-black-background.jpg?s=612x612&w=0&k=20&c=TEJEkHEOzWvtHjur9f-EA5lByeYJTND6xRyF_VZMUIU=');
  background-size:250px;
 
  } 


  
.container{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
  /* background:url('https://media.istockphoto.com/id/1177589614/photo/water-droplets-on-black-background.jpg?s=612x612&w=0&k=20&c=TEJEkHEOzWvtHjur9f-EA5lByeYJTND6xRyF_VZMUIU=');
  background-size:250px */
}
.overlay {
  position:absolute;
  
 
  width: 100%;
  height: 100vh;
  
  
  background-color: rgba(0, 0, 0, 0.6); 
}



 
  
 


}
